<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../images/ddukddak.ico">

    <title>DDuk DDak</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/css/mysheet.css" rel="stylesheet">
    <style>
        th{
            background-color: #FFD8D8;
        }
    </style>


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-danger navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand title" href="/">DDuk DDak</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">홈
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ingredient">이달의재료</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recommend">추천요리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board">내음식맛봐</a>
                    </li>
                    <% if(!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register">회원가입</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item"><a class="nav-link">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <%= user.displayName %>님</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mypage">마이페이지</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth/logout">로그아웃</a></li>
                     <% if(user.displayName.trim() == 'admin') {%>
                    <li class="nav-item"><a class="nav-link" href="/admin/adminMain">관리자페이지</a></li>
                    <% }} %>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="container">
        <caption>
            <h2>내음식맛봐 게시판</h2>
        </caption>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <strong>
                        <th>No.</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>조회수</th>
                        <th>날짜</th>
                    </strong>
                </tr>
            </thead>
            <tbody>
               
      <%
      for(var i = 0; i<rows.length; i++)
      {
      %>
      <tr>
        <td><%=rows[i].idx%></td>
          <td><a href="/board/read/<%=rows[i].title%>"><%=rows[i].title%></a></td>
        <td><%=rows[i].writer%></td>
        <td><%=rows[i].hit%></td>
        <td><%=rows[i].moddate%></td>
      </tr>
      <%
      }
      %>
 
            </tbody>
        </table>
        <hr>
        <br>
        <div class="d-flex float-right">
           <% if(!user) { %>
           <p><strong>로그인해야 글을 쓸 수 있습니다.&nbsp;&nbsp;&nbsp;</strong></p>
           <input type="button" class="btn btn-dark" value="로그인하기" onclick="location.href='/auth/login'" />
           <% }else{ %>
            <input type="button" class="btn btn-dark" value="글 쓰기" onclick="location.href='/board/writing'" />
            <% } %>
        </div>
        <br>
        <ul class="pagination justify-content-center" style="margin:20px 0">
            <li class="page-item"><a class="page-link" href="#" style="color:black">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#" style="color:black">1</a></li>
            <li class="page-item"><a class="page-link" href="#" style="color:black">2</a></li>
            <li class="page-item"><a class="page-link" href="#" style="color:black">3</a></li>
            <li class="page-item"><a class="page-link" href="#" style="color:black">Next</a></li>
        </ul>
    </div> <br><br>


    <!-- Footer -->
    <footer class="py-5 bg-danger">
        <div class="container">
            <p class="m-0 text-left text-white">Copyright &copy; DDuk DDak food
                <br>뚝딱팀 경 현, 김재익
                <br>2018 모바일웹 프로젝트</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->

    <script src="../stylesheets/vendor/jquery/jquery.min.js"></script>
    <script src="../stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
